# COPY THIS FILE TO .env AND FILL IN YOUR VALUES
APP_NAME="FCT College of Nursing Sciences"
APP_ENV=development
APP_URL=http://localhost

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=fctcns_main
DB_USERNAME=your_username
DB_PASSWORD=your_password

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@fctcns.edu.ng